/* App.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/021/599/588/non_2x/abstract-white-and-gray-overlap-circles-background-3d-paper-circle-banner-with-drop-shadows-minimal-simple-design-for-presentation-flyer-brochure-website-book-etc-vector.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif; 
  }
  